ask_1:load "hotel.csv." into the data frame.

2.load the required libraries.

3.drop the columns with null values(agent","company").

4.make a different data frame with categorical values.

5.find the null values in categorical data and replace them with mode.

6.Describe the categorical Data Frame.

7 find the unique values from the data.

8.Encode the data from "hotel" column based on condition if_hotel="City_hotel",1; else: 0

Task:9 to use get_dummies method for column arraivl_date_month

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd

In [2]:
#load the dataset
df=pd.read_csv("hotel_bookings.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [4]:
#print all columns from dataset
print(df.columns)

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [5]:
#find any null values
df.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
#drop the null columns 'agent' and 'company' where it contains more null values
df1=df.drop(["agent","company"],axis=1)

In [7]:
df1.isnull().sum()

hotel                               0
is_canceled                         0
lead_time                           0
arrival_date_year                   0
arrival_date_month                  0
arrival_date_week_number            0
arrival_date_day_of_month           0
stays_in_weekend_nights             0
stays_in_week_nights                0
adults                              0
children                            4
babies                              0
meal                                0
country                           488
market_segment                      0
distribution_channel                0
is_repeated_guest                   0
previous_cancellations              0
previous_bookings_not_canceled      0
reserved_room_type                  0
assigned_room_type                  0
booking_changes                     0
deposit_type                        0
days_in_waiting_list                0
customer_type                       0
adr                                 0
required_car_parking_spaces         0
total_of_special_requests           0
reservation_status                  0
reservation_status_date             0
dtype: int64

In [8]:
#describe the dataset to know the count,mean,std,min,max
df.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [9]:
#select all category data
category=df1.select_dtypes(include=["object"]).copy()
category.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03

In [10]:
print(category.isnull().sum())

hotel                        0
arrival_date_month           0
meal                         0
country                    488
market_segment               0
distribution_channel         0
reserved_room_type           0
assigned_room_type           0
deposit_type                 0
customer_type                0
reservation_status           0
reservation_status_date      0
dtype: int64

In [11]:
category.country.unique()

array(['PRT', 'GBR', 'USA', 'ESP', 'IRL', 'FRA', nan, 'ROU', 'NOR', 'OMN',
       'ARG', 'POL', 'DEU', 'BEL', 'CHE', 'CN', 'GRC', 'ITA', 'NLD',
       'DNK', 'RUS', 'SWE', 'AUS', 'EST', 'CZE', 'BRA', 'FIN', 'MOZ',
       'BWA', 'LUX', 'SVN', 'ALB', 'IND', 'CHN', 'MEX', 'MAR', 'UKR',
       'SMR', 'LVA', 'PRI', 'SRB', 'CHL', 'AUT', 'BLR', 'LTU', 'TUR',
       'ZAF', 'AGO', 'ISR', 'CYM', 'ZMB', 'CPV', 'ZWE', 'DZA', 'KOR',
       'CRI', 'HUN', 'ARE', 'TUN', 'JAM', 'HRV', 'HKG', 'IRN', 'GEO',
       'AND', 'GIB', 'URY', 'JEY', 'CAF', 'CYP', 'COL', 'GGY', 'KWT',
       'NGA', 'MDV', 'VEN', 'SVK', 'FJI', 'KAZ', 'PAK', 'IDN', 'LBN',
       'PHL', 'SEN', 'SYC', 'AZE', 'BHR', 'NZL', 'THA', 'DOM', 'MKD',
       'MYS', 'ARM', 'JPN', 'LKA', 'CUB', 'CMR', 'BIH', 'MUS', 'COM',
       'SUR', 'UGA', 'BGR', 'CIV', 'JOR', 'SYR', 'SGP', 'BDI', 'SAU',
       'VNM', 'PLW', 'QAT', 'EGY', 'PER', 'MLT', 'MWI', 'ECU', 'MDG',
       'ISL', 'UZB', 'NPL', 'BHS', 'MAC', 'TGO', 'TWN', 'DJI', 'STP',
       'KNA', 'ETH', 'IRQ', 'HND', 'RWA', 'KHM', 'MCO', 'BGD', 'IMN',
       'TJK', 'NIC', 'BEN', 'VGB', 'TZA', 'GAB', 'GHA', 'TMP', 'GLP',
       'KEN', 'LIE', 'GNB', 'MNE', 'UMI', 'MYT', 'FRO', 'MMR', 'PAN',
       'BFA', 'LBY', 'MLI', 'NAM', 'BOL', 'PRY', 'BRB', 'ABW', 'AIA',
       'SLV', 'DMA', 'PYF', 'GUY', 'LCA', 'ATA', 'GTM', 'ASM', 'MRT',
       'NCL', 'KIR', 'SDN', 'ATF', 'SLE', 'LAO'], dtype=object)

In [12]:
category.country.mode()

0    PRT
Name: country, dtype: object

In [13]:
# fill null values in category data using mode
category.fillna(category['country'].mode()[0],inplace=True)
category.isnull().sum()

hotel                      0
arrival_date_month         0
meal                       0
country                    0
market_segment             0
distribution_channel       0
reserved_room_type         0
assigned_room_type         0
deposit_type               0
customer_type              0
reservation_status         0
reservation_status_date    0
dtype: int64

In [14]:
#print unique values of category data of every column
print(category.apply(pd.unique))

hotel                                             [Resort Hotel, City Hotel]
arrival_date_month         [July, August, September, October, November, D...
meal                                             [BB, FB, HB, SC, Undefined]
country                    [PRT, GBR, USA, ESP, IRL, FRA, ROU, NOR, OMN, ...
market_segment             [Direct, Corporate, Online TA, Offline TA/TO, ...
distribution_channel              [Direct, Corporate, TA/TO, Undefined, GDS]
reserved_room_type                            [C, A, D, E, G, F, H, L, P, B]
assigned_room_type                      [C, A, D, E, G, F, I, B, H, P, L, K]
deposit_type                            [No Deposit, Refundable, Non Refund]
customer_type                  [Transient, Contract, Transient-Party, Group]
reservation_status                            [Check-Out, Canceled, No-Show]
reservation_status_date    [2015-07-01, 2015-07-02, 2015-07-03, 2015-05-0...
dtype: object

In [15]:
# Make a copy of the 'category' named 'encode'
encode=category.copy()
encode.head()

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
1,Resort Hotel,July,BB,PRT,Direct,Direct,C,C,No Deposit,Transient,Check-Out,2015-07-01
2,Resort Hotel,July,BB,GBR,Direct,Direct,A,C,No Deposit,Transient,Check-Out,2015-07-02
3,Resort Hotel,July,BB,GBR,Corporate,Corporate,A,A,No Deposit,Transient,Check-Out,2015-07-02
4,Resort Hotel,July,BB,GBR,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2015-07-03

In [16]:
# Performing encoding based on whether 'hotel' column contains "City Hotel"
encode["hotel"]=np.where(encode["hotel"].str.contains("City Hotel"),1,0)
encode.sample(10)

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date
11397,0,May,BB,BRA,Direct,Direct,D,D,No Deposit,Transient,Canceled,2017-03-28
45193,1,October,SC,CHE,Online TA,TA/TO,A,D,No Deposit,Transient,Check-Out,2015-10-26
37680,0,June,BB,PRT,Direct,Direct,D,D,No Deposit,Transient,Check-Out,2017-06-26
17354,0,October,HB,GBR,Offline TA/TO,TA/TO,D,D,No Deposit,Contract,Check-Out,2015-10-08
108062,1,March,BB,PRT,Groups,TA/TO,A,A,No Deposit,Transient-Party,Check-Out,2017-03-22
85041,1,March,BB,GBR,Offline TA/TO,TA/TO,A,A,No Deposit,Transient,Check-Out,2016-03-08
24125,0,February,BB,GBR,Corporate,Direct,A,D,No Deposit,Transient-Party,Check-Out,2017-02-26
66993,1,April,BB,SWE,Online TA,TA/TO,A,A,No Deposit,Transient,Canceled,2016-07-31
16743,0,November,BB,PRT,Corporate,Direct,A,D,No Deposit,Transient,Check-Out,2016-11-24
112829,1,May,BB,PRT,Offline TA/TO,TA/TO,A,A,No Deposit,Transient-Party,Check-Out,2017-05-29

In [17]:
#import labelencoder
from sklearn.preprocessing import LabelEncoder
# Create a LabelEncoder instance
lb=LabelEncoder()
category_country=encode.copy()

In [18]:
# Transform the 'country' column into numerical values
category_country["country_code"]=lb.fit_transform(encode["country"])
category_country.sample(10)

,hotel,arrival_date_month,meal,country,market_segment,distribution_channel,reserved_room_type,assigned_room_type,deposit_type,customer_type,reservation_status,reservation_status_date,country_code
57640,1,September,BB,PRT,Groups,TA/TO,A,A,Non Refund,Transient,Canceled,2015-10-21,135
20403,0,November,BB,PRT,Direct,Direct,A,A,No Deposit,Transient,Check-Out,2016-11-11,135
13294,0,August,BB,ESP,Online TA,TA/TO,A,A,No Deposit,Transient,Canceled,2017-04-25,51
8336,0,September,BB,PRT,Offline TA/TO,TA/TO,D,D,No Deposit,Transient,Canceled,2016-09-08,135
106346,1,February,BB,FRA,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2017-02-24,56
24825,0,June,BB,CHE,Online TA,TA/TO,D,D,No Deposit,Transient,Check-Out,2016-06-05,29
68739,1,May,BB,PRT,Groups,TA/TO,A,A,No Deposit,Transient-Party,Canceled,2017-04-10,135
77418,1,October,BB,PRT,Offline TA/TO,TA/TO,A,D,No Deposit,Transient-Party,Check-Out,2015-10-09,135
100131,1,October,BB,FRA,Online TA,TA/TO,A,A,No Deposit,Transient,Check-Out,2016-10-23,56
71823,1,July,BB,PRT,Offline TA/TO,TA/TO,A,B,No Deposit,Transient-Party,Canceled,2017-06-28,135

In [19]:

# Apply get_dummies to the 'arrival_date_month' column
encoded_months = pd.get_dummies(encode['arrival_date_month'], prefix='month')

# Concatenate the encoded months with the original DataFrame
encoded_df = pd.concat([encode, encoded_months], axis=1)

# Drop the original 'arrival_date_month' column if needed
# encoded_df.drop('arrival_date_month', axis=1, inplace=True)

# Display the resulting DataFrame
print(encoded_df)

        hotel arrival_date_month meal country market_segment  \
0           0               July   BB     PRT         Direct
1           0               July   BB     PRT         Direct
2           0               July   BB     GBR         Direct
3           0               July   BB     GBR      Corporate
4           0               July   BB     GBR      Online TA
...       ...                ...  ...     ...            ...
119385      1             August   BB     BEL  Offline TA/TO
119386      1             August   BB     FRA      Online TA
119387      1             August   BB     DEU      Online TA
119388      1             August   BB     GBR      Online TA
119389      1             August   HB     DEU      Online TA

       distribution_channel reserved_room_type assigned_room_type  \
0                    Direct                  C                  C
1                    Direct                  C                  C
2                    Direct                  A                  C
3                 Corporate                  A                  A
4                     TA/TO                  A                  A
...                     ...                ...                ...
119385                TA/TO                  A                  A
119386                TA/TO                  E                  E
119387                TA/TO                  D                  D
119388                TA/TO                  A                  A
119389                TA/TO                  A                  A

       deposit_type customer_type  ... month_December month_February  \
0        No Deposit     Transient  ...          False          False
1        No Deposit     Transient  ...          False          False
2        No Deposit     Transient  ...          False          False
3        No Deposit     Transient  ...          False          False
4        No Deposit     Transient  ...          False          False
...             ...           ...  ...            ...            ...
119385   No Deposit     Transient  ...          False          False
119386   No Deposit     Transient  ...          False          False
119387   No Deposit     Transient  ...          False          False
119388   No Deposit     Transient  ...          False          False
119389   No Deposit     Transient  ...          False          False

        month_January  month_July  month_June  month_March  month_May  \
0               False        True       False        False      False
1               False        True       False        False      False
2               False        True       False        False      False
3               False        True       False        False      False
4               False        True       False        False      False
...               ...         ...         ...          ...        ...
119385          False       False       False        False      False
119386          False       False       False        False      False
119387          False       False       False        False      False
119388          False       False       False        False      False
119389          False       False       False        False      False

        month_November  month_October  month_September
0                False          False            False
1                False          False            False
2                False          False            False
3                False          False            False
4                False          False            False
...                ...            ...              ...
119385           False          False            False
119386           False          False            False
119387           False          False            False
119388           False          False            False
119389           False          False            False

[119390 rows x 24 columns]